* {
    margin: 0;
}
body {
    background-color: black;
}
div {
    align-items: center;
}
canvas {
    border: 1px;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('carrom.png');
    background-size: cover;
}